.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
packages/valory
leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
credit_score_agent
!packages/victorpolisetty/agents/credit_score_agent/
credit_score_service
!packages/victorpolisetty/services/credit_score_service/
__pycache__/
.env
